body{
    margin:0 ;
    padding:0 ;
}


h1,h2{
    color: rgb(87, 87, 87);
}

img{
    width:250px;
    height:250px;
}

a{
    text-decoration: none;
}

a:active,
a:focus {
    color:rgb(87, 87, 87);
}

/*ユーザー登録*/
body{
    background:rgb(246, 234, 247);
}
form h1{
    font-size:15px;
    text-align: center;
}
form span{
    color:rgb(255, 45, 94);;
}

table{
    margin: 22px;
    padding: 17px;
    text-align: center;
    background-color: rgb(179, 179, 179);
}

tr{
    width: 100%;
    border-bottom:1px  rgba(236, 234, 234, 0.39) solid;
}
th{
    color:rgb(87, 87, 87);
    width: 48%;
    text-align: center;
    border-bottom:1px  rgba(236, 234, 234, 0.39) solid;
}

.bg-mask {
    width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.33);
    padding: 10px 60px;
}

label{
    color:rgb(87, 87, 87);
}

input[type="password"]{
    width:100%;
    box-sizing: border-box;
    display:block;
    padding:10px;
}

input[type="text"]{
    width:100%;
    box-sizing: border-box;
    display:block;
    padding:10px;
}


.submit{
    text-align: center;
}

/* header*/
header{
    margin-bottom: 50px;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.69);
}

header a{
    color:white;
    text-decoration: none;
}

.my-navbar-control{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}

.my-navbar-brand{
    margin-left: 50px;
    display: inline-block;
    font-size: 45px;
    line-height: 71px;
}

.my-navbar-create{
    position: absolute;
    top: 20px;
    left: 188px;
    display: inline;
    background:#ff99f7;
    padding: 5px 10px;
    margin-left: 7px;
}

.btn-block{
    color: rgb(87, 87, 87);

}

/*main*/
.panel-heading{
    text-align: center;
}

.text-center{
    margin-top: 55px;
    text-align: center;
}
.list-group{
    width: 80%;
    margin: auto;
}

/* create */
.panel-body{
    width: 500px;
    margin: auto;
}

.container{
    margin: auto;
    padding: 36px 0;
}

input[type="submit"]{
    color: rgb(87, 87, 87);
    background: #ff99f7;
    padding: 5px 14px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* mypage */
.list-group-item{
    display: inline-block;
    padding: 30px 20px 20px 20px;
    background: white;
}

.list-group-item a{
    color:rgb(87, 87, 87);
}

.back a{
    color:rgb(87, 87, 87);
    text-decoration: none;
}

.back{
    position: absolute;
    left: 100px;
    top: 130px;
}

/* show */
.menu{
    display: inline-block;
    position: absolute;
    top: 272px;
    left: 80px;
}

.menu a{
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.top-img{
    width: auto;
    height: 450px;
}

